body {
    font-family: Arial;
    text-align: center;
    padding: 50px;
    background: #3498db;
    color: white;
}

input {
    padding: 10px;
}

button {
    padding: 10px;
    margin-left: 10px;
}

#result {
    margin-top: 30px;
    font-size: 20px;
}